@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
  --color-primary: #db0549;
  --color-primary-darker: #82042c;
  --color-dark: #011627;
  --color-light-gray: #f8f8f8;
  --body-background: #F6F7F8;
  --color-gray: #f1f1f1
}


*{
  font-size: 12pt;
  font-weight: 400;
}

body {
  background: var(--color-dark)!important;
  position: relative;
  color: white;
  font-weight: 400;
  padding-bottom: 100px;
  min-height: 100vh;
}
p, li{
  font-family: 'PT Sans', sans-serif;
}

.navbar-brand{
  font-family: 'Berkshire Swash', cursive;
}
h2{
  font-family: 'Bebas Neue', sans-serif;
}
.card {
  opacity: 0.9;
  transition: transform 0.3s ease-in-out;
}

.pointer{
  cursor: pointer;
}

.card-img-top{
  object-fit: cover;
}

.card:hover {
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;
}


.modal-pic{
  width: 250px;
  height: 250px;
}

#search-input-form{
  max-width: 750px;
  width: 100%;
}

.bg-custom-dark{
  background-color: var(--color-dark) !important;
}

.bold{
  font-weight: 600 !important;
}

.rounded-lg{
  border-radius: 2rem !important;
}


.color-primary{
  color: var(--color-primary) !important;
}

.btn-primary{
  background-color: var(--color-primary) !important;
  border: none !important;
}
.exploreBtn {
  transition: transform 0.3s ease;
}

.exploreBtn:hover {
background-color: transparent !important;
border: 1px solid var(--color-primary)!important;
color: var(--color-primary)!important;
}

.modal-transparent{
  opacity: 0.8;
}
.modal-transparent:hover{
  cursor: pointer;
}
.movie-link{
  text-decoration: none !important;
}
.accordion-button{
  background-color: darkgrey !important;
  color:black !important;
}

.accordion-body{
  background-color: rgb(217, 211, 211);
  color: black;
}
.upcoming{
  transition: ease-in-out 0.3s;
}
.upcoming:hover{
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.1);
}